body {
    background-color: ivory;
}

h1{
    color:dimgray;
    font-family: 'Lucida Sans';
    font-weight: bold;
}
p{
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}